<!-- 用户登录 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/login.css">

    <script type="text/javascript" src="__JS__/vue.js"></script>
    <script type="text/javascript" src="__JS__/login.js"></script>
</head>
<body>
    <div class="container" id="login_page" v-bind:style="{width: width + 'px',height: height + 'px',}">
        <div class="row form_box">

            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form class="" id="login_form">
                    <input type="text" name="username" />
                    <input type="text" name="username" />
                    <button type="submit"> 登 录 </button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>