<!-- 用户登录 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/common/style.css">
    <link rel="stylesheet" href="__CSS__/index/login.css">

    <script type="text/javascript" src="__JS__/common/md5.min.js"></script>
    <script type="text/javascript" src="__JS__/common/vue.js"></script>
    <script type="text/javascript" src="__JS__/common/axios.min.js"></script>
    <script type="text/javascript" src="__JS__/index/login.js"></script>
</head>
<body>
    <div id="login_page" class="form_page" v-bind:style="{width: width + 'px',height: height + 'px',}">
        <!--模糊层-->
        <div class="blur"></div>
        <!--主要内容 start-->
        <div class="main">
            <div class="container" >
                <div class="row">
                    <div class="form_wrap col-xs-12 col-md-6 col-md-offset-3">

                        <p class="f_title">用户登录</p>
                        <form action="" method="post" class="" id="login_form" v-on:submit.prevent="submitForm">
                            <input type="text" name="username" placeholder="用户名" class="f_username" v-model="account.username"/>
                            <br>
                            <input type="password" name="password" placeholder="登录密码" class="f_pwd" v-model="account.password" />
                            <br>
                            <button type="submit" class="sub_btn"> 登 录 </button>
                        </form>
                        <p class="f_btn reg_btn"> 没有账户？<a href="register"> 立即注册</a></p>

                    </div>
                </div>
            </div>
        </div>
        <!--主要内容 end-->
    </div>
</body>
</html>
