<!-- 用户登录 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/layer_mobile/need/layer.css">
    <link rel="stylesheet" href="__CSS__/common/style.css">
    <link rel="stylesheet" href="__CSS__/index/login.css">

    <script type="text/javascript" src="__JS__/common/md5.min.js"></script>
    <script type="text/javascript" src="__JS__/common/vue.js"></script>
    <script type="text/javascript" src="__JS__/common/axios.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="__JS__/index/login.js"></script>
</head>
<body>
    <div id="login_page" class="form_page" v-bind:style="{width: width + 'px',height: height + 'px',}">
        <!--模糊层-->
        <div class="blur"></div>
        <!--主要内容 start-->
        <div class="main">
            <div class="container" >
                <div class="row">
                    <div class="form_wrap col-xs-12 col-md-6 col-md-offset-3">

                        <p class="f_title">用户登录</p>
                        <form action="" method="post" class="" id="login_form" v-on:submit.prevent="submitForm">
                            <input type="text" name="account" placeholder="用户名" class="f_username" v-model="account.account"/>
                            <br>
                            <input type="password" name="password" placeholder="登录密码" class="f_pwd" v-model="account.password" />
                            <br>
                            <button type="submit" class="sub_btn"> 登 录 </button>
                        </form>
                        <p class="f_btn reg_btn"><span class="l"><a href="{:url('index/login/pwdReset')}"> 忘记密码</a></span> <span class="r">没有账户？<a href="{:url('index/login/register')}"> 立即注册</a></span></p>

                    </div>
                </div>
                <div class="row">
                    <div class="form_wrap col-xs-12 col-md-6 col-md-offset-3">

                        <div class="tip_box">
                            <p class="t_title"> 提 示 </p>
                            <span class="t_text"> 1). 学生报名考试 需先进行注册</span><br>
                            <span class="t_text"> 2). 注册时，用户名尽可能使用身份证号，当然也可自定义</span><br>
                            <span class="t_text"> 3). 注册成功后，进行登录，方可进行报名</span><br>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--主要内容 end-->
    </div>
</body>
</html>
