/*表单（登录、注册、报名）页面样式*/
input,button{
    outline: none;
    border: none;
}

.blur{
    width: 100%;
    height: 100%;
    background: #eeeeee url('../../images/login_bg.jpg') center/cover fixed;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.main .container{
    flex: 1;
}
#login_form input,#login_form button,
#reg_form input,#reg_form button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 25px;
    color: #ffffff;
    font-family: Arial;
}

.f_title {
    font-size: 21px;
    text-align: center;
}

.form_wrap form{
    padding: 10px 0;
}

.f_btn {
    font-size: 11px;
    text-align: right;
    color: #666;
}